# Gradle files
.gradle/
build/
bin/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Minecraft Run Directories
run/
run-data/
*.log

generate_tags.bat
make_models.vbs
make_subtags.bat